.my-navbar{

position: sticky;
top:0;
z-index:99999;

}

body{
    background-color: yellow;
}

.b{
    margin-top:9px;
}


h1{
    color: white;
    font-weight: bold;
    font-family: Georgia;
}
    marquee{
        background-color:blue;
    }

    .image{
        border:solid 10px black;
        border-style:ridge;
        width:100px;
        height:100px;
    }
    h3{
        color:purple;
        font-weight: bold;
        font-family: Georgia; 
        margin-left:20px;
    }
h4{
    text-align:start;
    margin-left:20px;
    color:purple;
        font-weight: bold;
        font-family: Georgia; 
    }
    .gif{
        border:solid 10px black;
        border-style:ridge;
        width:400px;
        height:225px;
    }
    #input{
        border: solid black 4px;
        border-style:ridge;
        color: white;
        background-color: blue;
        text-align: center;
    }
    #warning{
        color:white;
        font-weight: bold;
        font-family: Georgia; 
    }
    #sq{
        width:200px;
        height:65px;
        font-size:24px;
        display:none;
    }